<a class="mb-2" nz-button [nzType]="'primary'" [routerLink]="'/user/list'"><span>Quay lại trang danh sách</span></a>
<nz-card>
  <h6>Chỉnh sửa thông tin người dùng</h6>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">User name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid name!">
        <input nz-input formControlName="username" id="username"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>Role</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input user role!">
        <input
          nz-input
          type="role"
          id="role"
          formControlName="role"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="__btn_save">
      <button nz-button nzType="primary" (click)="btnSave()">Lưu</button>
      <button nz-button nzType="primary" (click)="btnReset()" >Reset</button>
    </nz-form-item>
  </form>
</nz-card>

