<button class="mb-2" nz-button [nzType]="'primary'" (click)="showModal()"><span>Tạo mới</span></button>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo mới thông tin kênh thanh toán" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" hidden nzFor="id">Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" hidden>
          <input nz-input formControlName="id" hidden id="id" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="clientId" nzRequired>Client Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your clientId!">
          <input
            nz-input
            type="clientId"
            id="clientId"
            formControlName="clientId"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="secretId" nzRequired>Secret Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your secretId!">
          <input
            nz-input
            type="secretId"
            id="secretId"
            formControlName="secretId"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="payerId" nzRequired>Payer Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your payerId!">
          <input
            nz-input
            type="payerId"
            id="payerId"
            formControlName="payerId"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<nz-table [nzData]="listPaymentChannel">
  <thead>
  <tr>
    <th style="text-align: center">STT</th>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">Client Id</th>
    <th style="text-align: center">Secret Id</th>
    <th style="text-align: center">Payer Id</th>
    <th style="text-align: center">Status</th>
    <th style="text-align: center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listPaymentChannel; let i = index">
    <td style="text-align: center">{{ i + 1 }}</td>
    <td style="text-align: center">{{ data.name }}</td>
    <td style="text-align: center">{{ data.clientId }}</td>
    <td style="text-align: center">{{ data.secretId }}</td>
    <td style="text-align: center">{{ data.payerId }}</td>
    <td style="text-align: center"><nz-switch [(ngModel)]="data.status" (ngModelChange)="onChange($event, data.id)" ></nz-switch></td>
    <td style="text-align: center">
      <span nz-icon nzType="edit" (click)="getDetail(data.id)" nzTheme="outline" style="color: #2c2ce0; cursor: pointer"></span>
    </td>
  </tr>
  </tbody>
</nz-table>
