<nz-card>
  <form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nz-col [nzSpan]="6" [nzFor]="'keyword'">Title</nz-form-label>
          <nz-form-control nz-col [nzSpan]="18">
            <input
              nz-input
              placeholder="title"
              [formControlName]="'keyword'"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nz-col [nzSpan]="6" [nzFor]="'campaignTitle'">Campaign title</nz-form-label>
          <nz-form-control nz-col [nzSpan]="18">
            <input
              nz-input
              placeholder="campaign's title"
              [formControlName]="'campaignTitle'"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nz-col [nzSpan]="6" [nzFor]="'status'">Status</nz-form-label>
          <nz-form-control nz-col [nzSpan]="18">
            <nz-select formControlName="status">
              <nz-option nzLabel="--- All ---" nzValue=""></nz-option>
              <nz-option nzLabel="Enable" nzValue="1"></nz-option>
              <nz-option nzLabel="Disable" nzValue="0"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nz-col [nzSpan]="6" [nzFor]="'id'">Id</nz-form-label>
          <nz-form-control nz-col [nzSpan]="18">
            <input
              nz-input
              placeholder="id"
              [formControlName]="'id'"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nz-col [nzSpan]="6" [nzFor]="'campaignId'">Campaign id</nz-form-label>
          <nz-form-control nz-col [nzSpan]="18">
            <input
              nz-input
              placeholder="campaign's id"
              [formControlName]="'campaignId'"
              [(ngModel)]="campaignId"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
        <button nz-button (click)="clear()">Clear</button>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nz-col [nzSpan]="6">Created Date</nz-form-label>
          <nz-form-control nz-col [nzSpan]="18">
            <nz-range-picker [formControlName]="'date'" (ngModelChange)="onChangeDate($event)"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="search-result-list">
    <nz-table
      nzShowSizeChanger
      [nzData]="listArticle"
      [nzShowPagination]="false"
    >
      <thead>
      <tr>
        <th>Stt</th>
        <th>Image</th>
        <th>Title</th>
        <th>Campaign Id</th>
        <th>Status</th>
        <th>Like</th>
        <th style="text-align: center">Created At</th>
        <th width="8%" style="text-align: center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of listArticle; let i = index">
        <td>{{ i + 1 }}</td>
        <td><img
          nz-image
          width="150px"
          nzSrc="{{ data.image }}"
          alt="sponsor" src="{{data.image}}"/></td>
        <td style="text-align: left">{{ data.title }}</td>
        <td style="text-align: center" [routerLink]="'/campaign/detail/' + data.campaignId">
          <a>{{ data.campaignId }}</a>
        </td>
        <td>
          <nz-switch [(ngModel)]="data.status" (ngModelChange)="onChange($event, data.id)"></nz-switch>
        </td>
        <td style="text-align: center">{{ data.numberOfLike }}</td>
        <td style="text-align: center">{{ data.createdAt }}</td>
        <td style="text-align: center">
          <a nz-dropdown [nzDropdownMenu]="menu" nz-icon nzType="menu-fold" nzTheme="outline"></a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item [routerLink]="'/article/edit/' + data.id" style="cursor: pointer">
                <span nz-icon nzType="edit" nzTheme="fill" style="color: #2c2ce0;"></span>
                <span style="margin-left: 5px;">Chỉnh sửa</span>
              </li>
              <li nz-menu-item [routerLink]="'/article/detail/' + data.id" style="cursor: pointer">
                <span nz-icon nzType="eye"  nzTheme="fill" style="color: #009624;"></span>
                <span style="margin-left: 5px">Xem chi tiết</span>
              </li>
              <li nz-menu-item [routerLink]="'/comment/list'" [queryParams]="{ article_id: data.id }" style="cursor: pointer">
                <span nz-icon nzType="snippets"  nzTheme="fill" style="color: #f5511b;"></span>
                <span style="margin-left: 5px">Danh sách bình luận</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <nz-pagination class="pagination"
                   (nzPageIndexChange)="onChangePage($event)"
                   [nzPageIndex]="offset" [nzTotal]="totalElements"
                   [nzPageSize]="limit">
    </nz-pagination>
  </div>
</nz-card>



