<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin hero fund</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dyrfhqz3j/image/upload/v1672314441/e2w/logo1_cwoott.png">
</head>
<body>
  <div class="row col-12" style="display: flex; justify-content: center; margin-top: 300px ;vertical-align: middle; ">
    <div class="col-4"></div>
    <form class="col-4" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Lưu đăng nhập</span>
          </label>
        </div>
      </div>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Đăng nhập</button>
    </form>
    <div class="col-4"></div>
  </div>
</body>
</html>
