
<div class="center">
  <div class="container">
    <div class="text">
      Hệ Thống Quản Lý
    </div>
    <form [formGroup]="validateForm">
      <div class="data">
        <label>Username</label>
        <input formControlName="userName" type="text" required>
      </div>
      <div class="data">
        <label>Password</label>
        <input formControlName="password" type="password" required>
      </div>
      <div class="btn">
        <div class="inner"></div>
        <button type="button" (click)="submitForm()">login</button>
      </div>
    </form>
  </div>
</div>
