<div class="bg-image"></div>
<div class="login">
    <form class="col-4" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="24">
          <label style="float: left" nz-checkbox formControlName="remember">
            <span style="color:white; ">Lưu đăng nhập</span>
          </label>
        </div>
      </div>
      <button nz-button class="login-form-button login-form-margin" style="background-image: linear-gradient(to right, #6D1D6C , #9B47EB); color: white;">Đăng nhập</button>
    </form>
  </div>
