<a class="mb-2" nz-button [nzType]="'primary'" [routerLink]="'/campaign/form'"><span>Tạo mới</span></a>
<form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'keyword'">Keyword</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="keyword"
            [formControlName]="'keyword'"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Target Amount ($)</nz-form-label>
        <nz-form-control class="__amount">
          <input
            class="__amount_start"
            nz-input
            type="number"
            placeholder="start"
            [formControlName]="'targetAmountStart'"/>
          <input
            class="__amount_end"
            nz-input
            type="number"
            placeholder="end"
            [formControlName]="'targetAmountEnd'"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Created Date</nz-form-label>
        <nz-form-control>
          <nz-range-picker [formControlName]="'date'" (ngModelChange)="onChangeDate($event)"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
      <button nz-button (click)="clear()">Clear</button>
    </div>
  </div>
</form>
<div class="search-result-list">
  <nz-table
    nzShowSizeChanger
    [nzData]="listCampaign"
    [nzShowPagination]="false"
  >
    <thead>
    <tr>
      <th style="text-align: center">Stt</th>
      <th style="text-align: center">Ảnh</th>
      <th>Tên</th>
      <th width="10%" style="text-align: center">Mục tiêu( $ )</th>
      <th width="10%" style="text-align: center">Ngày bắt đầu</th>
      <th width="11%" style="text-align: center">Ngày kết thúc</th>
      <th style="text-align: center">Trạng thái</th>
      <th width="10%" style="text-align: center">Ngày tạo</th>
      <th width="10%" style="text-align: center">Người tạo</th>
      <th width="10%" style="text-align: center">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listCampaign; let i = index">
      <td style="text-align: center">{{ i + 1 }}</td>
      <td style="text-align: center"><img
        nz-image
        width="100px"
        nzSrc="{{ data.image }}"
        alt="sponsor" src="{{data.image}}"/></td>
      <td>{{ data.title }}</td>
      <td style="text-align: center">{{ data.targetAmount }}</td>
      <td style="text-align: center">{{ data.startDate }}</td>
      <td style="text-align: center">{{ data.endDate }}</td>

      <td style="text-align: center">
        <nz-select style="width: 95px" [(ngModel)]="data.status" (ngModelChange)="onChange($event, data.id)">
          <nz-option *ngFor="let p of campaignStatusEnum" [nzValue]="p.key" [nzLabel]="p.value"></nz-option>
        </nz-select>
      </td>
      <td style="text-align: center">{{ handlerCreatedDate(data.createdAt) }}</td>
      <td style="text-align: center">{{ data.account.username }}</td>
      <td style="text-align: center">
        <a nz-dropdown [nzDropdownMenu]="menu" nz-icon nzType="menu-fold" nzTheme="outline"></a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item [routerLink]="'/campaign/edit/' + data.id" style="cursor: pointer">
              <span nz-icon nzType="edit" nzTheme="fill" style="color: #2c2ce0;"></span>
              <span style="margin-left: 5px;">Chỉnh sửa</span>
            </li>
            <li nz-menu-item [routerLink]="'/campaign/detail/' + data.id" style="cursor: pointer">
              <span nz-icon nzType="eye"  nzTheme="fill" style="color: #009624;"></span>
              <span style="margin-left: 5px">Xem chi tiết</span>
            </li>
            <li nz-menu-item [routerLink]="'/article/create/' + data.id" style="cursor: pointer">
              <span nz-icon nzType="file-text"  nzTheme="fill" style="color: #FFFF66;"></span>
              <span style="margin-left: 5px">Tạo mới bài viết</span>
            </li>
            <li nz-menu-item [routerLink]="'/campaign/transaction/' + data.id" style="cursor: pointer">
              <span nz-icon nzType="transaction" nzTheme="outline" style="color: #b001af;"></span>
              <span style="margin-left: 5px" >Danh sách quyên góp</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-pagination class="pagination"
                 (nzPageIndexChange)="onChangePage($event)"
                 [nzPageIndex]="offset" [nzTotal]="totalElements"
                 [nzPageSize]="limit">
  </nz-pagination>
</div>




