<nz-modal [(nzVisible)]="isVisible"
          nzTitle="Comment detail"
          [nzWidth]="1000"
          [nzFooter]="null"
          (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        Id:
      </div>
      <div nz-col [nzSpan]="20">
        <p>{{currentComment.id}}</p>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        User:
      </div>
      <div nz-col [nzSpan]="20">
        <p>{{currentComment.username }}</p>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        Content:
      </div>
      <div nz-col [nzSpan]="20">
        <p>{{currentComment.content}}</p>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        Article:
      </div>
      <div nz-col [nzSpan]="20">
        <p>{{currentComment.articleTitle}}</p>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        Created At:
      </div>
      <div nz-col [nzSpan]="20">
        <p>{{currentComment.createdAt}}</p>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        Number of Like:
      </div>
      <div nz-col [nzSpan]="20">
        <p>{{currentComment.numberOfLike}}</p>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="4">
        Status:
      </div>
      <div nz-col [nzSpan]="20">
        <nz-switch [(ngModel)]="currentComment.status" (ngModelChange)="onChange($event, currentComment.id)"></nz-switch>
      </div>
    </div>
  </ng-container>
</nz-modal>
