<form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label class="label__keyword">Keyword</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="Vui lòng từ khóa"
            [formControlName]="'keyword'"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label class="label__keyword">Status</nz-form-label>
        <nz-form-control>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="status" [formControlName]="'status'">
            <nz-option nzLabel="ENABLE" nzValue="1"></nz-option>
            <nz-option nzLabel="DISABLE" nzValue="0"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="search()">Search</button>
      <button nz-button (click)="resetForm()">Clear</button>
    </div>
  </div>
</form>
<div class="search-result-list">
  <nz-table
    nzShowSizeChanger
    [nzShowPagination]="false"
    [nzData]="listUser"
  >
    <thead>
    <tr>
      <th>Stt</th>
      <th>Name</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listUser; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.username }}</td>
      <td>{{ data.role }}</td>
      <td><nz-switch [(ngModel)]="data.status" (ngModelChange)="onChange($event, data.id)" ></nz-switch></td>
      <td style="text-align: center">
        <a nz-icon nzType="edit"  href="user/edit/{{data.id}}"  nzTheme="outline" style="color: #2c2ce0; cursor: pointer"></a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-pagination class="pagination"
                 (nzPageIndexChange)="onChangePage($event)"
                 [nzPageIndex]="offset" [nzTotal]="totalElements"
                 [nzPageSize]="limit">
  </nz-pagination>
</div>
